@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Inter:wght@300;500&family=Poppins:wght@200;300;400;600;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: white;
  width: 100vw;
}

li {
  list-style: none;
  cursor: pointer;
  position: relative;
  transition: all 300ms;
}

li::before {
  position: absolute;
  content: '';
  height: 4px;
  width: 0;
  background: #2a68ff;
  left: 0;
  bottom: -10px;
  color: #2a68ff;
  transition: all 400ms ease-out;
}

li:hover::before {
  width: 100%;
}

.icon {
  cursor: pointer;
}

.card {
  background-color: #f1f4f8;
}

.singleGrid>p {
  margin: 0 auto;
}

.singleJob {
  box-shadow: 4px 6px 9px 0px rgba(0, 0, 0, 0.15);
}

.hideMenuNav {
  display: none;
}

.showMenuNav {
  display: block;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: white;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.nav-toggle {
  display: none;
}

/* Responsive design */
@media only screen and (max-width: 540px) {

  .navBar {
    padding: 1.25rem;
    padding-right: 2rem;
    padding-left: 2rem;
  }

  .container {
    width: 100%;
  }

  .nav-toggle {
    display: block;
  }

  .menu {
    /* visibility: hidden;
    opacity: 0; */
    position: absolute;
    top: 100px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #2a68ff;
    font-size: 25px;
    gap: 1.75rem;
    transition: 300ms;
    transform: translateX(300vw);
  }

  .menu_visible {
    /* visibility: visible;
    opacity: 1; */
    transform: none;
    z-index: 1;
  }

  .searchDiv {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    padding: 2.25rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  form {
    position: relative;
    width: 90%;
    margin: 0 auto;
    padding-left: 5%;
    padding-right: 5%;
  }


  .inputSearch {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    width: 100%;
    padding-right: 0.25rem;
    padding-left: 0.25rem;
  }

  .input-search {
    font-size: 13px;
    width: 90%;
  }

  .icon {
    font-size: 18px;
  }

  .secDiv {
    position: relative;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }

  .value-container {
    margin-top: 0;
  }

  .cardOne {
    width: 75%
  }

  .cardOne p {
    line-height: 1.9;
  }

  .card-cta {
    padding: 1.5rem;
    padding-bottom: .5rem;
  }

  .text-cta {
    width: 60%;
    margin-right: 0.5rem;
  }

  .text-cta>h1 {
    font-size: 24px;
  }

  .text-cta>h2 {
    font-size: 21px;
  }

  .card-cta button {
    padding: 1rem;
  }

  .text-value {
    font-size: 18px;
    font-weight: 700;
    width: 88%;
    margin: 0 auto;
    padding-bottom: 1.5rem;
  }

  .container-slider {
    display: flex;
    height: 200px;
    width: 90%;
    margin: 0 auto;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
  }

  .singleGrid {
    position: relative;
    min-width: 90%;
    height: 90%;
    width: 90%;
    padding: 1.5rem;
    padding-bottom: 0.75rem;
    scroll-snap-align: center;
  }

  .singleGrid:first-child {
    margin-left: 5%;
  }

  .singleGrid:last-child {
    margin-right: 5%;
  }

  .footer {
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 0;
  }

  .logoDiv {
    text-align: center;
  }

  .logoDiv>h1 {
    padding-bottom: 0.5rem;
    font-size: 20px;
  }

  .logoDiv+p {
    text-align: center;
    padding-bottom: 0.25rem;
    font-size: 15px;
  }

  .divTitle {
    text-align: center;
    padding-bottom: 0.25rem;
    font-size: 14px;
  }

  .footer-list {
    font-size: 13px;
  }

  .icons {
    justify-content: space-between;
  }
}


@media only screen and (max-width: 420px) {
  form {
    width: 98%;
    margin: 0 auto;
  }

  .inputSearch>button {
    font-size: 15px;
  }

  .text-cta {
    width: 60%;
    margin-right: 0.5rem;
  }

  .text-cta>h1 {
    font-size: 20px;
  }

  .text-cta>h2 {
    font-size: 18px;
  }

  .div-button {
    padding-top: 0;
  }

  .div-button>button {
    margin-top: 0.75rem;
    padding: 0.75rem;
    font-size: 16px;
  }

  small {
    font-size: 12px;
  }

}